<div>
    <div class="flex flex-wrap items-center justify-between gap-4">
        <h2 class="text-xl">Schools</h2>
        <div class="flex w-full flex-col gap-4 sm:w-auto sm:flex-row sm:items-center sm:gap-3">
            <div class="flex gap-3">
                <div>
                    <button type="button" class="btn btn-primary" (click)="editSchool()">
                        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 ltr:mr-2 rtl:ml-2">
                            <circle cx="10" cy="6" r="4" stroke="currentColor" stroke-width="1.5" />
                            <path
                                opacity="0.5"
                                d="M18 17.5C18 19.9853 18 22 10 22C2 22 2 19.9853 2 17.5C2 15.0147 5.58172 13 10 13C14.4183 13 18 15.0147 18 17.5Z"
                                stroke="currentColor"
                                stroke-width="1.5"
                            />
                            <path d="M21 10H19M19 10H17M19 10L19 8M19 10L19 12" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" />
                        </svg>

                        Add School
                    </button>
                </div>

            </div>

            <div class="relative">
                <input type="text" placeholder="Search Schools" class="peer form-input py-2 ltr:pr-11 rtl:pl-11" [(ngModel)]="searchSchool" name="searchSchool" (ngModelChange)="searchSchools()" />
                <div class="absolute top-1/2 -translate-y-1/2 peer-focus:text-primary ltr:right-[11px] rtl:left-[11px]">
                    <svg class="mx-auto" width="16" height="16" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <circle cx="11.5" cy="11.5" r="9.5" stroke="currentColor" stroke-width="1.5" opacity="0.5"></circle>
                        <path d="M18.5 18.5L22 22" stroke="currentColor" stroke-width="1.5" stroke-linecap="round"></path>
                    </svg>
                </div>
            </div>
        </div>
    </div>
    <div class="panel mt-5 overflow-hidden border-0 p-0">
        <ng-container *ngIf="displayType === 'list'">
            <div class="table-responsive">
                <table class="table-striped table-hover">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Code</th>
                            <th>Level</th>
                            <th>Email</th>
                            <th>Phone</th>
                            <th>County</th>
                            <th>Student Population</th>
                            <th>Teacher Population</th>

                            <th class="!text-center">Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        <ng-container *ngFor="let school of filteredSchoolsList" key="school.id">
                            <tr>
                                <td>
                                    <div class="flex w-max items-center">
                                        <div *ngIf="school.path" class="w-max">
                                            <img [src]="'/assets/images/' + school.path" class="h-8 w-8 rounded-full object-cover ltr:mr-2 rtl:ml-2" alt="avatar" />
                                        </div>
                                        <div *ngIf="!school.path && school.name" class="grid h-8 w-8 place-content-center rounded-full bg-primary text-sm font-semibold text-white ltr:mr-2 rtl:ml-2">
                                            {{ school.name.charAt(0) + '' + school.name.charAt(school.name.indexOf(' ') + 1) }}
                                        </div>
                                        <div *ngIf="!school.path && !school.name" class="grid h-8 w-8 place-content-center rounded-full border border-gray-300 ltr:mr-2 rtl:ml-2 dark:border-gray-800">
                                            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" class="h-4.5 w-4.5">
                                                <circle cx="12" cy="6" r="4" stroke="currentColor" stroke-width="1.5"></circle>
                                                <ellipse opacity="0.5" cx="12" cy="17" rx="7" ry="4" stroke="currentColor" stroke-width="1.5"></ellipse>
                                            </svg>
                                        </div>
                                        <div>{{ school.name }}</div>
                                    </div>
                                </td>
                                <td>{{ school.location }}</td>
                                <td>{{ school.level }}</td>
                                <td>{{ school.email }}</td>
                                <td>{{ school.tel }}</td>
                                <td class="whitespace-nowrap">{{ school.county }}</td>
                                <td class="whitespace-nowrap">{{ school.student_population }}</td>
                                <td class="whitespace-nowrap">{{ school.teacher_population }}</td>
                                <td>
                                    <div class="flex items-center justify-center gap-4">
                                        <button type="button" class="btn btn-sm btn-outline-primary" (click)="editSchool(school)">Edit</button>
                                        <button type="button" class="btn btn-sm btn-outline-danger" (click)="deleteSchool(school)">Delete</button>
                                    </div>
                                </td>
                            </tr>
                        </ng-container>
                    </tbody>
                </table>
            </div>
        </ng-container>
    </div>

    <!-- add school modal -->
    <modal #addSchoolModal class="no-footer">
        <ng-template #modalHeader>
            <div class="!font-medium">
                {{ params.controls['id'].value ? 'Edit School' : 'Add School' }}
            </div>
        </ng-template>
        <ng-template #modalBody>

            <form [formGroup]="params" class="text-sm" (ngSubmit)="saveSchool()" ngNativeValidate>

                <div class="mb-5">
                    <label for="name">Name</label>
                    <input id="name" type="text" placeholder="Enter Name" class="form-input" formControlName="name" />
                </div>
                <div class="mb-5">
                    <label for="email">Email</label>
                    <input id="email" type="email" placeholder="Enter Email" class="form-input" formControlName="email" />
                </div>
                <div class="mb-5">

                    <label for="phone">Phone Number</label>
                    <input id="phone" type="tel" placeholder="(___) ___-___" class="form-input" formControlName="tel" />

                </div>
                <div class="mb-5">
                    <label for="address">Address</label>
                    <input id="address" type="text" placeholder="Enter address" class="form-input" formControlName="address" />
                </div>


                <div class="mb-5">
                    <label for="county"> County </label>
                    <ng-select [items]="countyList" bindLabel="name" bindValue="name" [(ngModel)]="countyInput" [clearable]="false" placeholder="Select an option" class="custom-multiselect" formControlName="county">
                    </ng-select>
                </div>
                <div class="mb-5">
                    <label for="level"> Level </label>
                    <ng-select [items]="levelList" bindLabel="name" bindValue="name" [(ngModel)]="levelInput" [clearable]="false" placeholder="Select an option" class="custom-multiselect" formControlName="level">
                    </ng-select>
                </div>
                <div class="mb-5">
                    <label for="student_population">Student Population</label>
                    <input id="student_population" type="number" placeholder="Enter student population" class="form-input" formControlName="student_population"/>
                </div>
                <div class="mb-5">
                    <label for="teacher_population">Teacher Population</label>
                    <input id="teacher_population" type="number" placeholder="Enter teacher population" class="form-input" formControlName="teacher_population" />
                </div>
                <div class=" mt-8 flex items-center justify-end ">
                    <button type="button " class="btn btn-outline-danger " (click)="addSchoolModal.close() ">Cancel</button>
                    <button type="submit " class="btn btn-primary ltr:ml-4 rtl:mr-4 ">
                        {{ params.controls['id'].value ? 'Update' : 'Add' }}
                    </button>
                </div>
            </form>
        </ng-template>
    </modal>
</div>
